@import "../../style.css";

.cardBg {
  background-color: var(--white);
  padding: 15px;
  margin-top: 20px;
  border-radius: var(--br-sm);
  margin-bottom: 50px !important;
  height: 450px;
}
img {
  border-radius: 5px;
}
.cardImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.title {
  margin-top: 8px;
  color: var(--color-darkslateblue-900);
  font-size: var(--font-size-base);
}
.description {
  margin-top: 15px;
  font-size: var(--font-size-xsm);

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.date {
  margin-top: 15px;
  color: var(--light-purple);
}
