{{#extend "layout"}}
{{#content "body"}}
<td align="center" class="bodyCopy">

	<p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 14px; padding: 0 40px;">Dear
		{{user}}</p>

	<p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 14px; padding: 0 40px;">
		Did you forget your password? <br> Don't worry! Just enter
		following OTP:
	</p>
	<p style="font-family: Arial, Helvetica, sans-serif; color: #555555; font-size: 14px; padding: 0 40px;">{{ otp }}
	</p>
</td>
{{/content}}
{{/extend}}