@import "../../style.css";

.loginBg {
  background-color: var(--color-darkslateblue-900);
  height: 100vh;
}
.loginBg h4 {
  color: var(--white);
  font-weight: bolder;
  font-size: 1.25rem;
  padding: 14px;
}
.loginBg h1 {
  font-weight: bolder;
  color: var(--white);
  font-size: 5rem;
  /* line-height: 1.2px; */
}
.loginBg h2 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
}
.card {
  background-color: #fff;
  /* background-clip: border-box; */
  border: 1px px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 20px;
}
.signInText {
  color: black !important;
  font-weight: bolder !important;
  font-size: 2rem !important;
}
.formFiledOne {
  margin-bottom: 12px;
}
.formFiledOne p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.forgotPasswordText p {
  margin-bottom: 0px;
  color: #0d6efd;
}
.signUp {
  color: #0d6efd;
  font-weight: bolder;
}
.signUp :hover {
  cursor: pointer;
  color: #0754c7;
}
.forgotPasswordText :hover {
  cursor: pointer;
}
.btn {
  width: 100%;
}
.active {
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .displayOrNot {
    display: none;
  }
}
